/*
*= require bootstrap.css
*/




td {
    vertical-align: top;
    text-align: center;
}

table {
    width: 100%;
}

.preferred_cloud_form select {
    width: 130px;
}

.cv_file_name input {
    width: 80px;
}

.delimiter {
    height: 50px;
    min-height: 50px;
}



.gist-files textarea {
    height:100px;
}

.btn-container {
    text-align: center;
}