/*
*= require bootstrap.css
*/




td {
    vertical-align: top;
    text-align: center;
}

table {
    width: 100%;
}

.preferred_cloud_form select {
    width: 150px;
}

.cv_file_name input {
    width: 80px;
}